.body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Georgia, 'Times New Roman', Times, serif;

}

.header {
    background-color: #1f2937;
    display: flex;
    flex: 1;
    padding-left: 100px;
    padding-right: 100px;
}

.title {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
    padding-bottom: 10px;
}

li {
    font-size: 18px;
    color: #e5e7eb;
    list-style: none;
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 20px;

}

ul {
    display: flex;
    gap: 14px;
}

.header-body {
    display: flex;
    background-color: #1f2937;
    padding-left: 100px;
    padding-right: 100px;
    flex-grow: 1;
}


.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
    margin-right: auto;
    justify-content: center;
    align-self: center;
    padding: 20px;
}

* {
    box-sizing: border-box;

}


.fbody {
    justify-content: flex-start;
    align-items: center;
    padding-top: 100px;
    flex-shrink: 0;
}

.info {
    font-size: 18px;
    color: #e5e7eb;
    padding-bottom: 10px;
}

button.no-shadow {
    background-color: #3882f6;
    width: 120px;
    height: 40px;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: none;
    border: none;
}

.toys{
    display: flex;
    flex-shrink: 0;
    margin-bottom: 70px;
    padding: 20px;
    height: auto;
    width: 600px;
    padding-left: 50px;
    padding-top: 50px;
}
